<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:object="${car}" th:text="${car.model}+' '+${car.tradeMark.title}"></title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <main class="car details">
        <div class="container">
            <div id="details" class="col-sm-12 item" th:object="${car}">
                <h2>Car Details</h2>
                <div class="row">
                    <div class="col-md-6">
                        <img id="car" th:src="${car.imageUrl}" class="card-img-top" th:alt-title="${car.model}">
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td th:utext="#{model}">Model</td>
                                <td th:text="${car.model}"></td>
                            </tr>
                            <tr>
                                <td th:utext="#{engineSize}">Engine</td>
                                <td th:text="${car.engineSize}+' litr'"></td>
                            </tr>
                            <tr>
                                <td th:utext="#{trademark}">Trademark</td>
                                <td th:text="${car.tradeMark.title}"></td>
                            </tr>
                            <tr>
                                <td th:utext="#{release_date}">Release date</td>
                                <td th:text="${car.releaseDate}"></td>
                            </tr>
                            <tr>
                                <td th:utext="#{color}">Color</td>
                                <td th:text="${car.color.getDisplayValue()}"></td>
                            </tr>
                            <tr>
                                <td th:utext="#{price}">Price</td>
                                <td th:text="${car.price}+'$'"></td>
                            </tr>
                            <tr>
                                <td th:utext="#{engineers}">Engineers</td>
                                <td>
                                    <div th:each="engineer : *{engineers}">
                                        <li style="list-style: none;">
                                            <a th:href="${ '/engineers/' + engineer.getId()}" th:text="'- '+${engineer.name}"></a>
                                        </li>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!--            <div  class="card" style="width: 18rem;">-->
<!--                <img id="car" th:src="${car.imageUrl}" class="card-img-top" th:alt-title="${car.model}">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title" th:text="${car.tradeMark.title}+' '+${car.model}"></h5>-->
<!--                </div>-->
<!--                <ul class="list-group list-group-flush">-->
<!--                    <li th:text="'Model: '+${car.model}" class="list-group-item"></li>-->
<!--                    <li th:text="'Engine size: '+${car.engineSize}" class="list-group-item">A second item</li>-->
<!--                    <li th:text="'Trademark: '+${car.tradeMark.title}" class="list-group-item">A third item</li>-->
<!--                    <li th:text="'Release date: '+${car.releaseDate}" class="list-group-item">An item</li>-->
<!--                    <li th:text="'Color: '+${car.color.getDisplayValue()}" class="list-group-item">A second item</li>-->
<!--                    <li th:text="'Price: '+${car.price}+'$'" class="list-group-item">A third item</li>-->
<!--                    <div class="list-group-item">-->
<!--                        <h4>Engineers:</h4>-->
<!--                        <div th:each="engineer : *{engineers}">-->
<!--                            <li style="list-style: none;" th:text="${engineer.name}"></li>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </ul>-->
<!--                <div class="card-body">-->
<!--                    <a th:href="${ '/cars/' + car.getId()}" class="card-link">Details</a>-->
<!--                    <a th:href="${'/cars/edit/' + car.getId()}">Edit</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div th:object="${car}">-->
<!--            <ul>-->
<!--                <li th:text="'Model: '+*{model}"></li>-->
<!--                <li th:text="'Trademark: '+*{tradeMark.title}"></li>-->
<!--                <li th:text="'Engine: '+*{engineSize}"></li>-->
<!--                <li th:text="'Release date: '+*{releaseDate}"></li>-->
<!--                <li th:text="'Price: '+*{price}+'$'"></li>-->
<!--            </ul>-->
<!--            <h3>Engineers:</h3>-->
<!--            <div th:each="engineer : *{engineers}">-->
<!--                <li th:text="${engineer.name}"></li>-->
<!--            </div>-->
<!--        </div>-->

</body>
</html>



