<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:object="${engineer}" th:text="*{name}"></title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <main class="engineer details">
        <div class="container">
            <div id="details" class="col-sm-3 item" th:object="${engineer}">
                <h2>Engineer Details</h2>
                <div class="row">
                    <div class="col-md-6">
                        <img id="car" th:src="@{/imgs/avatar.png}" class="card-img-top" th:alt-title="${engineer.name}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td th:text="${engineer.name}"></td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td th:text="${engineer.nationality}"></td>
                            </tr>
                            <tr>
                                <td>Tenure</td>
                                <td th:text="${engineer.tenure}+' years'"></td>
                            </tr>
                            <tr>
                                <td>Contributions/Work</td>
                                <td>
                                    <div th:each="car : *{cars}">
                                        <li style="list-style: none;">
                                            <a th:href="${ '/cars/' + car.getId()}" th:text="'- '+${car.model}"></a>
                                        </li>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>



