body {
    background-color: darkgray;
}

#nav {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}
.nav-link:hover{
    color: #02fbfc!important;
}
.dropdown-item:active{
    background-color: #353a3f!important;
}
.dropdown-item.active{
    background-color: #353a3f!important;
}


/*Website logo*/
#logo {
    padding: 1px;
    font-family: Helvetica, sans-serif;
}

#logo h4 {
    margin: unset;
}

#logo span {
    opacity: 0;
    transform: translate(-50px);
    transition: 0.4s;
    display: inline-block;
    color: #02fbfc;
    margin-right: 5px;
    font-style: italic;
}

#logo h4:hover span {
    opacity: 1;
    transform: translate(3px);
    transition: transform 0.2s, opacity 0.6s;
}

.navbar #logo:hover {
    background: none;
    color: white;
    border: none;
}

#jumbo {
    border-radius: 5px;
    background-image: url("https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

#jumbo h1 {
    color: #02fbfc;
}

.indexcontent {
    margin-top: 10%;
    color: lightgray;
}

.indexbtn {
    margin-top: 10%;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    border-color: gray;
    color: white;
}

.indexbtn:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, .3);
    border-color: gray;
}

.item {
    margin: 1.5rem auto;
}

.carsPage #car {
    width: 100%;
    height: 170px;
}

.card-body:nth-of-type(1){
    background-color: darkgray!important;
}
.card {
    background-color: #ffffff69 !important;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

.form-group button {
    margin: 1rem auto;
}

.form-group button:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, .3);
}

#details {
    width: 100%;
}

.car.details img {
    margin-top: 15%;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

.engineer.details table {
    margin-top: 5%;
}

.engineer.details img {
    width: 25%;
    height: 170px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}

.details tr td:nth-of-type(1) {
    font-weight: bold;
}

.details table {
    margin-top: 14%;
    width: 80%;
    border: #eaeaea solid 1px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
}

.details .list-group-item {
    background-color: darkgray !important;
    border-bottom-color: rgba(0, 0, 0, 0.6);
}

form .alert {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

form .alert p {
    margin: unset;
}

.form-group p {
    color: #842029;
}
