<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav id="nav" class=" navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a id ="logo" class="navbar-brand" th:href="@{/}"><h4>Car<span>lounge</span></h4></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/cars' ? 'active':''}"
                               class="nav-link" th:href="@{/cars}"><span th:utext="#{cars}">Cars</span></a></li>
                        <li class="nav-item">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/engineers' ? 'active':''}"
                               class="nav-link" th:href="@{/engineers}"><span th:utext="#{engineers}">Engineers</span></a></li>
                        >
                        <li class="nav-item dropdown">
                            <a th:classappend="${#httpServletRequest.getRequestURI() == '/cars/new' || #httpServletRequest.getRequestURI() == '/engineers/new' ? 'active':''}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false" th:utext="#{add}">
                                Add
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                <li>
                                    <a th:classappend="${#httpServletRequest.getRequestURI() == '/cars/new' ? 'active':''}"
                                       class="dropdown-item" th:href="@{/cars/new}"><span th:utext="#{car}">Car</span></a></li>
                                <li>
                                    <a th:classappend="${#httpServletRequest.getRequestURI() == '/engineers/new' ? 'active':''}"
                                       class="dropdown-item" th:href="@{/engineers/new}"><span th:utext="#{engineer}">Engineer</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>