<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Car Details</h2>
    <div>
        <form th:object="${car}" class="form-horizontal" method="post">
            <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                <p>There was an error within the form! </p>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:utext="#{model}">Car model:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{model}" placeholder="e.g. golf 7"/>
                    <p th:if="${#fields.hasErrors('model')}" th:errors="*{model}">model Error</p>
                </div>
            </div>
            <div th:object="${trademark}">
                <div class="form-group">
                    <label class="col-sm-4 control-label" th:utext="#{trademark_title}">Trademark:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" th:field="${trademark.title}" placeholder="e.g. volkswagen"/>
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title Error</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" th:utext="#{trademark_founder}">Trademark founder:</label>
                    <div class="col-sm-4"><input type="text" class="form-control" th:field="${trademark.founder}"
                                                 placeholder="e.g. John due"/>
                        <p th:if="${#fields.hasErrors('founder')}" th:errors="*{founder}">founder Error</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" th:utext="#{trademark_launch}">Trademark launch date:</label>
                    <div class="col-sm-4"><input type="text" class="form-control" th:field="${trademark.launchYear}"
                                                 th:placeholder="'e.g. 2014'"/>
                        <p th:if="${#fields.hasErrors('launchYear')}" th:errors="*{launchYear}">launchYear Error</p>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:utext="#{engineSize}">Engine:</label>
                <div class="col-sm-4"><input type="text" class="form-control" th:field="*{engineSize}"
                                             placeholder="e.g. 4.5"/>
                    <p th:if="${#fields.hasErrors('engineSize')}" th:errors="*{engineSize}">engineSize Error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:utext="#{price}">Price:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{price}" placeholder="price... $"/>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price Error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:utext="#{release_date}">Release date:</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" th:field="*{releaseDate}"/>
                    <p th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">releaseDate Error</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:utext="#{color}">Color:</label>
                <div class="col-sm-4">
                    <label>
                        <select th:field="*{color}"> class="form-select" aria-label="Default select example">
                            <!--                            <option th:text="${car.color == null?'Pick a colour': '>>'+car.color.getDisplayValue()+'<<'}"></option>-->
                            <option th:each="colorOpt : ${colors}"
                                    th:value="${colorOpt}" th:text="${colorOpt.getDisplayValue()}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Color Error</p>
                    </label>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:utext="#{image_url}">Image Url:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="imageUrl"
                           placeholder="e.g. https://www.istockphoto.com/fr/photo/berline-%C3%A0-hayon"/>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4 control-label" th:utext="#{engineers}">Engineers:</label>
                <div class="col-sm-4">
                    <div th:each="engineer : ${enginners}">
                        <label for="id">
                            <input id="id" name="engineersIds" type="checkbox" th:value="${engineer.getId()}"/>
                        </label>
                        <span th:text="${engineer.name}">engineer</span><br/>
                        <!--                        <input th:type="checkbox" th:each="availcar : ${availcars}"-->
                        <!--                                th:value="${availcar.getId()}" th:text="${availcar.model}">-->
                        <!--                        <span th:text="${car.model}">car</span><br/>-->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>



