<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <main class="carsPage">
        <div class="row">
            <div class="col-sm-3 item" th:each="car: ${cars}">
                <div class="card cardanim" style="width: 18rem;">
                    <img id="car" th:src="${car.imageUrl}" class="card-img-top" th:alt-title="${car.model}" alt="">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.tradeMark.title}+' '+${car.model}"></h5>
                    </div>
                    <!--                    th:text="'Model: '+${car.model}"-->
                    <ul class="list-group list-group-flush">
                        <li th:utext="#{amodel(${car.model})}" class="list-group-item"></li>
                        <li th:utext="#{aengineSize(${car.engineSize})}" class="list-group-item">A second item</li>
                        <li th:utext="#{aprice(${car.price})}" class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a th:utext="#{adetails}" th:href="${ '/cars/' + car.getId()}" class="card-link">Details</a>
                        <a th:utext="#{aedit}" th:href="${'/cars/edit/' + car.getId()}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!--Since the tables were a requirement-->
<!--    <div style="margin: auto" th:if="${not #lists.isEmpty(cars)}">-->
<!--        <h1>Cars catalogue</h1>-->
<!--        <table class="table table-striped" style="width:60%; border: black solid 1px">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <td>Model</td>-->
<!--                <td>Engine</td>-->
<!--                <td>Trademark</td>-->
<!--                <td>Release date</td>-->
<!--                <td>Colour</td>-->
<!--                <td>Price</td>-->
<!--                <td>View</td>-->
<!--                <td>Edit</td>-->
<!--            </tr>-->

<!--            </thead>-->
<!--            <tr th:each="car: ${cars}">-->
<!--                <td th:text="${car.model}">Model</td>-->
<!--                <td th:text="${car.engineSize}">Engine</td>-->
<!--                <td th:text="${car.tradeMark.title}">Trademark</td>-->
<!--                <td th:text="${car.releaseDate}">Release date</td>-->
<!--                <td th:text="${car.color.getDisplayValue()}">Color</td>-->
<!--                <td th:text="${car.price}+'$'">Price</td>-->
<!--                <td><a th:href="${ '/cars/' + car.getId()}">View</a></td>-->
<!--                <td><a th:href="${'/cars/edit/' + car.getId()}">Edit</a></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>