<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Engineers</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <main class="engineersPage">
        <div class="row" th:if="${not #lists.isEmpty(engineers)}">
            <div class="col-sm-3 item" th:each="engineer: ${engineers}">
                <div class="card" style="width: 18rem;">
                    <img id ="car" src="../static/imgs/avatar.png" th:src="@{/imgs/avatar.png}"  class="card-img-top" th:alt-title="${engineer.name}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${engineer.name}"></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li th:utext="#{aname(${engineer.name})}" class="list-group-item">A first item</li>
                        <li th:utext="#{anationality(${engineer.nationality})}" th:text="'Nationality: '+${engineer.nationality}" class="list-group-item">A second item</li>
                        <li th:utext="#{atenure(${engineer.tenure})}" th:text="'Tenure: '+${engineer.tenure}+' years'" class="list-group-item">A third item</li>
                    </ul>
                    <div class="card-body">
                        <a th:utext="#{adetails}" th:href="${ '/engineers/' + engineer.getId()}">View</a>
                        <a th:utext="#{aedit}" th:href="${'/engineers/edit/' + engineer.getId()}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>

