<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cars</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Car Details</h2>
    <div th:object="${car}">
        <ul>
            <li th:text="*{model}"></li>
            <li th:text="*{tradeMark}"></li>
            <li th:text="*{engineSize}"></li>
            <li th:text="*{releaseDate}"></li>
            <li th:text="*{price}"></li>
            <li th:text="*{engineers}"></li>
        </ul>
    </div>
</div>
</body>
</html>



