<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cars</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Engineer Details</h2>
    <div>
        <form class="form-horizontal" th:object="${engineer}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Tenure</label>
                <div class="col-sm-2"><input type="number" class="form-control" th:field="*{tenure}"/>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nationality</label>
                <div class="col-sm-2"><input type="text" class="form-control" th:field="*{nationality}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Contributions</label>
                <div class="col-sm-2">
                    <div th:each="car : ${cars}">
                        <input name="contributionsIds" type="checkbox" th:value="${car.getId()}"/>
                        <span th:text="${car.model}">car</span><br/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>