<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cars</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(engineers)}">
        <h1>Cars catalogue</h1>
        <table class="table table-striped" style="width:60%; border: black solid 1px">
            <thead>
            <tr>
                <td>Name</td>
                <td>Nationality</td>
                <td>Tenure</td>
                <td>Contributions</td>
                <td>View</td>
                <td>Edit</td>
                <td>Id</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="engineer: ${engineers}">
                <td th:text="${engineer.name}">Name</td>
                <td th:text="${engineer.nationality}">Nationality</td>
                <td th:text="${engineer.tenure}+' years'">Tenure</td>
                <td th:text="${engineer.getCarsNames()}">Contributions</td>
                <td></td>
                <td></td>
                <td th:text="${engineer.getId()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

