<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cars</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Engineer Details</h2>
    <div th:object="${engineer}">
        <ul>
            <li th:text="'Name: '+*{name}"></li>
            <li th:text="'Nationality: '+*{nationality}"></li>
            <li th:text="'Experience/Tenure: '+*{tenure}"></li>
            <li th:text="'Contributions: '+*{getCarsNames()}"></li>
        </ul>
    </div>
</div>
</body>
</html>



