<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <div th:if="${not #lists.isEmpty(cars)}">
        <h1>Cars catalogue</h1>
        <table class="table table-striped" style="width:60%; border: black solid 1px">
            <thead>
            <tr>
                <td>Model</td>
                <td>Engine</td>
                <td>Trademark</td>
                <td>Release date</td>
                <td>Colour</td>
                <td>Price</td>
                <td>View</td>
                <td>Edit</td>
            </tr>

            </thead>
            <tr th:each="car: ${cars}">
                <td th:text="${car.model}">Model</td>
                <td th:text="${car.engineSize}">Engine</td>
                <td th:text="${car.tradeMark.title}">Trademark</td>
                <td th:text="${car.releaseDate}">Release date</td>
                <td th:text="${car.color.getDisplayValue()}">Color</td>
                <td th:text="${car.price}+'$'">Price</td>
                <td><a th:href="${ '/cars/' + car.getId()}">View</a></td>
                <td><a th:href="${'/cars/edit/' + car.getId()}">Edit</a></td>
            </tr>
        </table>
    </div>
</div>
<!--    <a th:href="@{/cars/add}"></a>-->
</body>
</html>