<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <table class="table table-striped" style="width:60%; border: black solid 1px">
        <thead>
        <tr>
            <td>Sender ID</td>
            <td>Content</td>
            <td>Post date</td>
            <td>Type</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket: ${tickets}">
            <td th:text="${ticket.senderId}"></td>
            <td th:text="${ticket.text}"></td>
            <td th:text="${ticket.date}"></td>
            <td th:text="${ticket.type.toString()}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>