<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <div class="mb-3" th:object="${user}">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                       th:field="*{email}">
            </div>
        </div>

        <div class="form-group">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <div class="form-group">
                <label>
                    <select name="color"> class="form-select" aria-label="Default select example">
                        <!--                            <option th:text="${car.color == null?'Pick a colour': '>>'+car.color.getDisplayValue()+'<<'}"></option>-->
                        <option th:each="type : ${types}"
                                th:value="${type}" th:text="${type.toString().toUpperCase()}"></option>
                    </select>
                </label>
            </div>
        <br>
        <div class="form-group">
            <div class="col-12">
                <button type="submit" class="btn btn-secondary">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>