<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav id="nav" class=" navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{#}">NoisePol</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{#}"><span>Services</span></a></li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/map}"><span>Map</span></a></li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/tickets}"><span>Tickets</span></a></li>
                        <li class="nav-item ui-corner-right">
                            <a class="nav-link" th:href="@{/tickets/new}"><span>Submit a ticket</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>