* {
    box-sizing: border-box;
}

/* Style the body */

body {
    background: no-repeat, url(../imgs/woodenbg.png);
    font-family: "ITC Century W01 Book", Georgia, serif;
    margin: 0;
}

/*#gameofur-body {*/
/*    background: no-repeat, url(../imgs/gameofurpage.png);*/
/*}*/
/*Website logo*/

#logo {
    top: 5px;
    padding: 1px;
    font-family: Luminari, fantasy;
}

#logo h2 {
    margin: 0 0 0 15px;
}

#logo span {
    opacity: 0;
    transform: translate(-25px);
    transition: 0.3s;
    display: inline-block;
    color: goldenrod;
}

#logo h2:hover span {
    opacity: 1;
    transform: translate(1px);
    transition: transform 0.15s, opacity 0.4s;
}

.navbar #logo:hover {
    background: none;
    color: white;
    border: none;
}

/* Navigation bar */

.navbar {
    overflow: inherit;
    background-color: #1a1a1a;
    border-bottom: 1px solid rgba(218, 165, 32, 1);
    /*border-radius: 2px;*/
    position: fixed;
    /* set the navbar to fixed position */
    top: 0;
    /* position the navbar at the top of the page */
    width: 100%;
    /* full width */
    /*right: 5%;*/
    z-index: 1;
    margin-bottom: 30%;
    /* specify the level of the element*/
    /*padding: 6px 20px;*/
    font-family: DejaVu Sans Mono, monospace;
}

/* Style the navigation bar links */

.navbar a {
    position: relative;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 11px 20px;
    margin: 0;
    text-decoration: none;
    transition: color 0.37s, border-top 0.3s;
}

.downloadBorder {
    margin-right: 10px;
    border-top: 2px solid black;
    position: absolute;
    left: 17%;
    right: 83%;
    top: 20%;
    transition: right 0.18s, left 0.18s
}

#download {
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    border-radius: 2px;
}

.navbar a:hover .downloadBorder {
    left: 16%;
    right: 8%;
}

.navbar a:hover #version {
    color: white;
    transition: color 0.2s;
}

#version {
    transition: color 0.2s;
}

.borderTop {
    margin-right: 10px;
    border-top: 1px solid goldenrod;
    position: absolute;
    left: 60%;
    right: 40%;
    top: 20%;
    transition: right 0.18s, left 0.18s
}

.navbar a:hover .borderTop {
    left: 28%;
    right: 17%;
}

/* Right-aligned link */

.navbar a.right {
    float: right;
}

/* Change color on hover */

.navbar a:hover {
    /*border-top: 1px solid goldenrod;*/
    /*background-color: basil;*/
    color: goldenrod;
    border-radius: 1px;
    transition: border-top 0.4s, color 0.37s;
}

.navbar .cart:hover {
    color: rgba(12, 26, 36, 1);
}

a.active {
    /*border-top: 1px solid goldenrod;*/
    /*background-color: #ddd;*/
    color: goldenrod;
}


/* Footer */
footer {
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    background-color: rgba(12, 26, 36, 0.9);
    text-align: left;
    border-top: 1px solid #6e879b57;
}


footer h2 {
    margin-left: 10px;
    font-weight: normal;
    font-size: 0.7em;
    color: #fff;
    font-family: sans-serif;
    font-style: italic;
    opacity: 0.7;
}

footer span {
    color: goldenrod;
}


/*Common CSS*/
/* Column container */

.content-wrap {
    font-family: monospace;
    color: whitesmoke;
    position: relative;
    min-height: 80vh;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    background-color: rgba(34, 66, 88, 0.66);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    margin: -10% auto 15px auto;
}

/*Banners*/

.banner {
    width: 80%;
    height: auto;
    min-height: 500px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 100px / 120px;
    background-position: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}

/*Layout*/

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Main column */

main {
    min-height: 100vh;
}

/* 4 columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 0 8px;
    margin-bottom: 5%;
    opacity: 0.8;
}

.column img {
    background: #ffffffb3;
}

.col-10 {
    flex: 10%;
}

.col-20 {
    flex: 20%;
    margin-bottom: 10px
}

.col-33 {
    flex: 33%;
}

.col-25 {
    flex: 25%;
}

.col-50 {
    flex: 50%;
}

.col-75 {
    flex: 75%;
}

.col-100 {
    flex: 100%;
}

.col-10,
.col-20,
.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

/* Add some shadows to create a card effect */

/*.card {*/
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*}*/
/* Some left and right padding inside the container */

.container {
    padding: 0 16px 40px 16px;
}

/*-------------------------------*/
/*-Start- Homepage*/

.home-banner {
    height: auto;
    min-height: 500px;
    width: 100%;
    background-image: url(../imgs/rgoubackgroundv2.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    margin-top: 4%;
    margin-left: 1%;
    margin-right: auto;

}

@keyframes budge {
    0% {
        background-position: center
    }
    50% {
        background-position: -5px
    }
    100% {
        background-position: center
    }
}

.section {
    color: whitesmoke;
    padding: 10px;
    width: 100%;
    background-color: #1a1a1a;
    border-top: 1px solid goldenrod;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    margin-top: 30px;
}

/*.section.aim {*/
/*    background-image: url(../imgs/rgoubackground.jpg);*/
/*}*/

.section.aim .row {
    text-align: left;
    margin: auto;
}

.section.aim .row .col-25 {
    text-align: left !important;
}

.section.aim img {
    position: relative;
    animation: budgde 3s infinite;
}

@keyframes budgde {
    0% {
        background-position: center
    }
    50% {
        background-position: -5px
    }
    100% {
        background-position: center
    }
}

.section.information p span {
    font-family: cursive;
    font-size: medium;
}

.section.information p span b {
    color: goldenrod;
    font-family: cursive;
}

.section.information {
    width: 80%;
    margin: 5% auto;
}

.section.information .row {
    width: 70%;
    margin: auto;
    text-align: justify !important;
}

.section.information .descript {
    font-size: 15px;
}

.section.contact {
    box-shadow: none;
    text-align: center;
    background: black;
}

.section.contact .row {
    width: 100%;
}

.section.contact textarea {
    width: 500px;
    height: 150px;
    margin-bottom: 10px;
    padding: 5px;
}

.section.contact input {
    width: 500px;
    margin-bottom: 10px;
    padding: 5px;
}

.section.contact input[type="submit"] {
    background-color: goldenrod;
    margin-bottom: 50px;
    outline: none;
    border: none;
    color: black;
    transition: 0.3s;
}

.section.contact .col-100 #button:hover {
    background-color: gold;
    cursor: pointer;
    transition: 0.3s;
}

.learnmore {
    margin: 5% 0 0 6%;
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 12px;
    transition: 0.3s;
}

.film-hero-wrap {
    position: relative;
    overflow: hidden;
    background-color: black;
    margin-top: 100px;
    margin-bottom: 40px;
}

.learnmore:hover {
    background-color: gold;
    cursor: pointer;
    transition: 0.3s;
}

.col-20 img {
    width: 50%;
    border-radius: 4px;
    opacity: 0.8;
    background: #ffffffb3;
}


video {
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: #daa52096 solid 1px;
}

.demo .card {
    text-align: center;
    /*border: 1px solid #daa52099;*/
    /*box-shadow: none;*/
    /*margin-bottom: 5%;*/
}

/*-END- Homepage*/
/*-Start- Game of ur page */

.game-of-ur .container {
    width: 70%;
    font-family: cursive;
    text-shadow: 2px 2px 5px #b9a17f;
    box-shadow: 5px 10px #0000001f;
    margin-bottom: 3%;
}

.rule-img1, .rule-img {
    width: 50%;
}

.rule-img1, .rule-img.intro {
    margin: 0 auto 0 auto;
}

.game-of-ur .row {
    align-items: center;
}


@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
    }


}

@media (max-width: 900px) and (max-width: 1100px ) {
    .rule-img {
        width: 70%;
    }
}

/*@media (max-width: 900px) and (max-width:1050px ) {*/
/*    .rule-img {*/
/*        width: 100%;*/
/*    }*/
/*}*/


/*End- game of ur page*/


/* Search page */
.section.search {
    box-shadow: none;
    text-align: center;
    background: black;
}

.section.search .row {
    width: 100%;
}
.section.search .col-50{
    margin: 2% 0;
}

.section.search textarea {
    width: 500px;
    height: 150px;
    margin-bottom: 10px;
    padding: 5px;
}

.section.search input, form button {
    width: 500px;
    margin-bottom: 10px;
    padding: 5px;
}

.section.search form button {
    background-color: goldenrod;
    margin-bottom: 50px;
    outline: none;
    border: none;
    color: black;
    transition: 0.3s;
}

.section.search .col-100 #button:hover {
    background-color: gold;
    cursor: pointer;
    transition: 0.3s;
}
.delete-btn{
    background-color: goldenrod;
    outline: none;
    border: none;
    color: black;
    transition: 0.3s;
    margin: auto;
    padding: 5px;
}

.delete-btn:hover {
    background-color: gold;
    cursor: pointer;
    transition: 0.3s;
}

/*-Start- About us page*/
h1 > span {
    font-style: italic;
    text-transform: capitalize;
    font-size: 2em;
    color: rgb(182, 133, 8);
}

h1 {
    text-align: center;
}


.container {
    margin-top: 5%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*.container > div {*/
/*    text-align: left;*/
/*    padding: 30px;*/
/*    color: whitesmoke;*/
/*}*/

#description {
    text-align: center;
    font-size: large;
}

.align1 {
    color: goldenrod;
    text-align: center;
}

.vision {
    padding-top: 20px;
    border-top: goldenrod 1px solid;
    justify-content: space-evenly;
    background-color: rgb(41, 35, 35);
    color: whitesmoke;
}

.mission {
    padding-top: 20px;
    border-top: goldenrod 1px solid;
    justify-content: space-evenly;
    background-color: rgb(41, 35, 35);
    color: whitesmoke;
}
#download-button {
    text-align: center;
    margin: 5% 0 0 6%;
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 12px;
    transition: 0.3s;
}
#download-button:hover {
    background-color: gold;
    cursor: pointer;
    transition: 0.3s;
}
.align-1 {
    font-weight: bold;
    text-align: center;
    color: rgb(182, 133, 8);
}

.members {
    padding: 20px;
    justify-content: center;
}

.col-33 {
    padding-left: 30px;
}

.col-75 > p {
    text-align: center;
}

.mission .vision .members {
    text-align: center;
    padding-bottom: 10px;
}

a {
    color: darkgoldenrod;
    text-decoration: none;
}

.row5, .table-box > table {
    width: 100%;
}

.table-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    background-color: #0E131F;
    color: floralwhite;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}


footer > h2 {
    font-size: medium;
    text-align: center;
}

/* End of About us page*/

/*Start Download Page*/
.about-page .container{
    color: white;
}


.title1 {
    text-align: center;
    padding: 20px;
    color: darkgoldenrod;
}

.systemRequirements > .col-75 > li, .systemRequirements2 > .col-75 > li {
    list-style: none;
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}

.dp-row3 > li {
    display: flex;
    justify-content: center;
    text-align: left;
}

.dp-bottom {
    justify-content: center;
}
.download-page .note{
    font-family: cursive;
}

.dp-bottom> a >button{
    margin: 5% 0 0 6%;
    background-color: goldenrod;
    color: black;
    font-weight: bold;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 12px;
    transition: 0.3s;
    justify-content: center;
}

#version-active{
    color: white;
}
/*End Download Page*/


@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 75%;
    }

    ul .container {
        width: 60%;
    }
}

/*QUERIES*/
/* Responsive layout - */

@media screen and (max-width: 600px) {
    /* when the screen is less than 600px wide, make the navigation links stack on top of each other instead of next to each other */
    .navbar a {
        float: none;
        width: 100%;
        margin: 0;
    }

    .drop .dropbtn {
        display: none;
    }

    .drop {
        float: none;
    }

    .drop-content {
        display: block;
        width: 100%;
        position: unset;
        background: none;
        opacity: 1;
        transform: translateY(0);
    }

    #logo span {
        opacity: 1;
        transform: unset;
    }

    /*Home page*/
    /*adjust the font size of nav on homepage*/
    .home-header ~ nav {
        font-size: 1.2em;
    }

    .home-header ~ main {
        /*I had to tweak that to fix the responsiveness*/
        width: 585px;
        font-size: 1.2em;
    }

    .home-header {
        /*I had to tweak that to fix the responsiveness*/
        width: 580px;
    }

    .home-banner {
        height: 250px;
        margin-top: 40%;
        width: 100%;
        background-size: 820px;
        min-height: unset;
        background-position-x: 0px;
    }

    .home-header ~ main footer {
        width: 585px;
    }

    .content-wrap {
        margin-top: -20%;
    }

    label select {
        float: unset;
        width: 80%;
    }

    .items .col-25 {
        padding: unset;
    }

    video {
        margin-left: -45%;
    }

    /*game of ur page*/
    .game-of-ur .container {
        margin-top: 45%;
        width: 95%;
    }

    .borderTop, .downloadBorder {
        margin-right: 65px;
    }

    #logo h2 {
        margin: 0 0 0 1px;
    }
/*about us page*/
    .about-page .container {
        margin-top: 40%;

    }
    /*download page*/

    .container{
        margin-top: 49%;
        color: white;
    }
}

/*when the screen is less than 740px wide, make the  columns stack on top of each other instead of next to each other */

@media screen and (max-width: 750px) {
    .row {
        flex-direction: column;
    }

}

/* Display the columns below each other instead of side by side on small screens */
/*Without flexbox*/

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 600px)and (max-width: 850px) {
    .column {
        width: 50%;
    }

    /*Items page(products)*/
    .row.input {
        flex-direction: column;
    }

    /*Direction set to a row so items can sit next to each other*/
    .row.list {
        flex-direction: row;
    }
}

/*Media queries to make banners responsive*/

@media screen and (min-width: 600px)and (max-width: 750px) {
    .home-banner {
        min-height: 235px;
        background-size: 731px;
    }
}

@media screen and (min-width: 750px)and (max-width: 1250px) {
    .home-banner {
        min-height: 235px;

    }
}

@media screen and (min-width: 600px)and (max-width: 1150px) {
    .banner {
        min-height: unset;
        height: 300px;
        background-size: 760px;
    }
}

.download-page .container{
    color: white;
}